body {
    text-align: center;
    background-color: #ece9e9;
}
h2 {
    color:rgb(101, 170, 244);
    font-size: 40px;
}
form {
    border: 2px solid black;
    border-radius: 30px;
    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #ffffff;
}
.textbox{
    display: flex;
}

.textbox label {
    width: 30%;
}

.textbox input {
    width: 60%;
}
button {
    background-color: rgb(101, 170, 244);
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
}
