<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="login.css">
</head>

<body>

<h2>勤怠管理システム</h2>

<form th:action="@{/login}" method="post">

    <div class="textbox">
        <label>ユーザID</label>
        <input type="text" name="username">
    </div>

    <br>

    <div class="textbox">
        <label>パスワード</label>
        <input type="password" name="password">
    </div>

    <br>

    <button type="submit">
        ログイン
    </button>

</form>

</body>
</html>